{% block body %}
    <h1>ERREUR 404 - La page n'a pas été trouvée :(</h1>

    <h3>Vous avez peut être commis une erreur de saisie, ou votre page n'a pas le champ "Visible"</h3>

    <p>
        Vous pouvez revenir sur la page d'édition en cliquant <a href="/edition">ici</a>.
    </p>
{% endblock %}